/* Credit for the majority of the CSS goes to Jordan Scales!!!!
        https://jdan.github.io/98.css/?ref=blogduwebdesign.com
        It is distributed under the MIT Licence
        I redid his work slightly for browser compatibility, and so that the scrollbars are kept to the default.
        That work was on import "../98.css/style.css".
        If you wanna see exactly what I did just compare the changes from the OG file to my own.
 */

/*
=============
TODO MEDIA QUERIES
=============
*/
/*Galaxy S9+ and Android*/
@media screen and (max-width: 360px) {
}

/*iPhone 6,7,8, X*/
@media screen and (max-width: 375px) {

}

/*iPhone Plus, XS, XS Max */
@media screen and (min-width: 411px) {

}

/* iPad */
@media screen and (min-width: 768px) {

}
/* Desktop */
@media screen and (min-width: 1000px) {

}

/* Windows 98 color scheme, centers elements, and adds a min-height*/
.Home98-Container {
    background-color: #008080;
    background-size: auto;
    background-position: 50% 50%;
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* The container for the actual content */
.Home98-window {
    width: 350px;
}

.Home98-content {
    text-align: center;
}
.Home98-link, .Home98-TableofContents {
    font-size: 16px;
}

/*Keeps everything nice and neat*/
.Home98-timelineLink {
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}
