#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
#media {
    height: 200px;
}
#teammate {
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
    height: 700px;
    max-width: 500px;
    opacity: 1;
}
#content {
    margin: 10px;
    /*height: 30px;*/
    font-size: 12px;
    opacity: 1;
}
#links {
    justify-content: center;
    position: center;
    padding-top: 10px;
    opacity: 1;
    /*height: 0%;*/
}
#link1 {
    height: 50px;
    opacity: 1;
}
#link2 {
    height: 50px;
    opacity: 1;
}


