.timeline-header-content {
    text-align: center;
    margin-bottom: 30px;
}
.timeline-header--title {
    text-align: center;
}






/*TODO REFACTOR THE CRAP OUT OF THIS GARBAGE*/



.timeline {
    position: relative;
    width: 100vw;
}

.timeline-item {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transition: all 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    transition: all 0.8s cubic-bezier(0, 0.7, 0.4, 1);
}

.view {
    -moz-font-feature-settings: "kern" 1;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

.timeline-item--2 .timeline-item__figure, .timeline-item--3 .timeline-item__figure {
    padding-left: 0;
}

.timeline-item__figure {
    text-align: right;
}

.timeline-item__figure, .timeline-item__body {
    box-sizing: border-box;
    margin: 0;
    padding: 0 20px;
    position: relative;
    z-index: 10;
    width: 50%;
}

.timeline-item__link {
    color: inherit;
}

.timeline-item:not(.timeline-item--no-hover) .timeline-item__link:hover .timeline-item__image {
    box-shadow: none;
}

.timeline-item--in-view .timeline-item__body::after, .timeline-item--in-view .timeline-item__image, .timeline-item--in-view .timeline-item__date, .timeline-item--in-view .timeline-item__location, .timeline-item--in-view .timeline-item__title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.timeline-item--3 .timeline-item__body::after, .timeline-item--3 .timeline-item__image, .timeline-item--3 .timeline-item__date, .timeline-item--3 .timeline-item__location, .timeline-item--3 .timeline-item__title {
    -webkit-transform: translateY(113px);
    transform: translateY(112.5px);
    -webkit-transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    will-change: transform;
}

.timeline-item--2 .timeline-item__image, .timeline-item--3 .timeline-item__image {
    box-shadow: none !important;
}

.timeline-item--3 .timeline-item__image--landscape {
    max-width: 135px;
}

.timeline-item--3 .timeline-item__image--landscape {
    width: 100%;
}

.timeline-item__body::after, .timeline-item__image, .timeline-item__date, .timeline-item__location, .timeline-item__title {
    -webkit-transform: translateY(75px);
    transform: translateY(75px);
    -webkit-transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    will-change: transform;
}

.timeline-item__image--landscape {
    max-width: 250px;
}

.timeline-item__image--landscape {
    width: 100%;
}

.timeline-item__image {
    box-shadow: -10px 10px #2D667B;
}

.timeline-item__image {
    box-shadow: -10px 10px #2D667B;
}

.object-fit, .card--preserve-ratio .card__image {
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover;', serif;
}

.timeline-item__figure {
    text-align: right;
}

.timeline-item__link {
    color: inherit;
}

.timeline-item__link {
    color: inherit;
}

.timeline--3::after {
    height: 50px;
}

.timeline--3::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: #D9CFBE;
    content: '';
    width: 1px;
    height: 40px;
    top: 100%;
    z-index: 29;
}

.timeline--3::before {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: #D9CFBE;
    content: '';
    width: 1px;
    height: 100%;
    top: 0;
    z-index: 29;
}

.story .view__content {
    margin-bottom: 0;
}

.story .view__content {
    float: left;
    width: 100%;
}

.story--pad-bottom .view__content {
    padding-bottom: 50px;
}

.story--pad-bottom .view__content {
    padding-bottom: 40px;
}

.view--silver .view__content {
    background-color: #F2F2F2;
}

.view .view__content {
    position: relative;
    margin-bottom: 80px;
}

.timeline-item:not(.timeline-item--no-hover) .timeline-item__link:hover .timeline-item__image {
    box-shadow: none;
}

.timeline-item--in-view .timeline-item__body::after, .timeline-item--in-view .timeline-item__image, .timeline-item--in-view .timeline-item__date, .timeline-item--in-view .timeline-item__location, .timeline-item--in-view .timeline-item__title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.timeline-item--3 .timeline-item__body::after, .timeline-item--3 .timeline-item__image, .timeline-item--3 .timeline-item__date, .timeline-item--3 .timeline-item__location, .timeline-item--3 .timeline-item__title {
    -webkit-transform: translateY(112.5px);
    transform: translateY(113px);
    -webkit-transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    will-change: transform;
}

.timeline-item--2 .timeline-item__image, .timeline-item--3 .timeline-item__image {
    box-shadow: none !important;
}

.timeline-item--3 .timeline-item__image--landscape {
    max-width: 135px;
}

.timeline-item--3 .timeline-item__image--landscape {
    width: 100%;
}

.timeline-item__body::after, .timeline-item__image, .timeline-item__date, .timeline-item__location, .timeline-item__title {
    -webkit-transform: translateY(75px);
    transform: translateY(75px);
    -webkit-transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    will-change: transform;
}

.timeline-item__image--landscape {
    max-width: 250px;
}

.timeline-item__image--landscape {
    width: 100%;
}

.timeline-item__image {
    box-shadow: -10px 10px #2D667B;
}

.object-fit, .card--preserve-ratio .card__image {
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover;', serif;
}

.timeline-item--in-view .timeline-item__body::after, .timeline-item--in-view .timeline-item__image, .timeline-item--in-view .timeline-item__date, .timeline-item--in-view .timeline-item__location, .timeline-item--in-view .timeline-item__title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.timeline-item--3 .timeline-item__body::after, .timeline-item--3 .timeline-item__image, .timeline-item--3 .timeline-item__date, .timeline-item--3 .timeline-item__location, .timeline-item--3 .timeline-item__title {
    -webkit-transform: translateY(112.5px);
    transform: translateY(112.5px);
    -webkit-transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    will-change: transform;
}

.timeline-item__body::after, .timeline-item__image, .timeline-item__date, .timeline-item__location, .timeline-item__title {
    -webkit-transform: translateY(75px);
    transform: translateY(75px);
    -webkit-transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    will-change: transform;
}

.timeline-item__body::after {
    width: 10px;
    height: 10px;
    top: 8px;
    left: -5px;
}

.timeline-item__body::after {
    background-color: #2D667B;
    border-radius: 100%;
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    top: 6px;
    left: -3.5px;
}

.timeline-item__figure, .timeline-item__body {
    box-sizing: border-box;
    margin: 0;
    padding: 0 20px;
    position: relative;
    z-index: 10;
    width: 50%;
}

.timeline-item--in-view .timeline-item__body::after, .timeline-item--in-view .timeline-item__image, .timeline-item--in-view .timeline-item__date, .timeline-item--in-view .timeline-item__location, .timeline-item--in-view .timeline-item__title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.timeline-item--3 .timeline-item__body::after, .timeline-item--3 .timeline-item__image, .timeline-item--3 .timeline-item__date, .timeline-item--3 .timeline-item__location, .timeline-item--3 .timeline-item__title {
    -webkit-transform: translateY(112.5px);
    transform: translateY(112.5px);
    -webkit-transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    will-change: transform;
}

.timeline-item__body::after, .timeline-item__image, .timeline-item__date, .timeline-item__location, .timeline-item__title {
    -webkit-transform: translateY(75px);
    transform: translateY(75px);
    -webkit-transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    will-change: transform;
}

.timeline-item__date {
    font-family: Merriweather-Regular, serif;
}

.timeline-item__date, .timeline-item__location {
    display: inline-block;
    margin-right: 10px;
}

.timeline-item__date, .timeline-item__location {
    font-size: 14px;
    line-height: 24px;
}

.timeline-item__date, .timeline-item__location {
    font-size: 16px;
    line-height: 26px;
}

.timeline-item__date, .timeline-item__location {
    font-family: serif;
    font-weight: normal;
    letter-spacing: 0;
    font-size: 12px;
    line-height: 20px;
    color: #a69b91;
    display: block;
    margin: 0;
}

.timeline-item__date, .timeline-item__location {
    font-size: 14px;
    line-height: 24px;
}

.timeline-item__date, .timeline-item__location {
    font-size: 16px;
    line-height: 26px;
}

.timeline-item__date, .timeline-item__location {
    color: #222;
    font-family: 'serif';
    font-weight: normal;
    letter-spacing: 0;
    font-size: 12px;
    line-height: 20px;
    display: block;
    margin: 0;
}

.timeline-item:not(.timeline-item--1) .timeline-item__title:hover {
    color: #E6394E;
}

.timeline-item--in-view .timeline-item__body::after, .timeline-item--in-view .timeline-item__image, .timeline-item--in-view .timeline-item__date, .timeline-item--in-view .timeline-item__location, .timeline-item--in-view .timeline-item__title {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.timeline-item--3 .timeline-item__body::after, .timeline-item--3 .timeline-item__image, .timeline-item--3 .timeline-item__date, .timeline-item--3 .timeline-item__location, .timeline-item--3 .timeline-item__title {
    -webkit-transform: translateY(112.5px);
    transform: translateY(112.5px);
    -webkit-transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    will-change: transform;
}

.timeline-item--2 .timeline-item__title, .timeline-item--3 .timeline-item__title {
    font-size: 16px;
    line-height: 26px;
}

.timeline-item--2 .timeline-item__title, .timeline-item--3 .timeline-item__title {
    color: #222;
    font-family: 'serif';
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 24px;
}

.timeline-item__body::after, .timeline-item__image, .timeline-item__date, .timeline-item__location, .timeline-item__title {
    -webkit-transform: translateY(75px);
    transform: translateY(75px);
    -webkit-transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    will-change: transform;
}

.timeline-item__title {
    font-size: 30px;
    line-height: 36px;
}

.timeline-item__title {
    color: #222;
    font-family: 'serif';
    font-weight: 600;
    letter-spacing: 0;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.timeline__list {
    width: calc(100% - 100px);
}

.timeline__list {
    width: calc(100% - 40px);
    max-width: 1270px;
    display: block;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    -webkit-transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    transition: 0.8s cubic-bezier(0, 0.7, 0.4, 1);
    position: relative;
    z-index: 29;
}

.view {
    counter-reset: reference;
}

.view {
    -moz-font-feature-settings: "kern" 1;
    -moz-osx-font-smoothing: grayscale;
    -o-font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern" 1;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.view::after {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-color: transparent;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.view::before, .view::after {
    background-color: transparent;
    content: '';
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: visibility 0s cubic-bezier(0, 0.7, 0.4, 1) 0s, background-color 0.8s cubic-bezier(0, 0.7, 0.4, 1) 0s;
    transition: visibility 0s cubic-bezier(0, 0.7, 0.4, 1) 0s, background-color 0.8s cubic-bezier(0, 0.7, 0.4, 1) 0s;
    visibility: hidden;
    z-index: 30;
}

.timeline {
    position: relative;
    width: 100vw;
}
.view--silver .view__panel {
    background-color: #F2F2F2;
}
.view .view__panel {
    background-color: #FFF;
}
.timeline-header__body {
    padding-bottom: 40px;
}
.timeline-header__body {
    padding-top: 40px;
}
.timeline-header__body {
    width: calc(100% - 100px);
}
.timeline-header__body {
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    max-width: 1270px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    position: relative;
    text-align: center;
    word-break: break-word;
}
.timeline-header__title, .timeline-header__subtitle {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
.timeline-header__title {
    font-size: 48px;
    line-height: 56px;
}
.timeline-header__title {
    margin-right: 50px;
    width: calc((100% - 450px) / 1.25 + 350px);
}
.timeline-header__title {
    box-sizing: border-box;
    display: block;
    float: left;
    color: #222;
    font-family: 'Graphik', serif;
    font-weight: 600;
    letter-spacing: 0;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    margin-left: auto;
    margin-right: auto !important;
    position: relative;
    z-index: 100;
}
.timeline-header__subtitle:nth-child(2n) {
    margin-right: 0;
}
.timeline-header__title, .timeline-header__subtitle {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
.timeline-header__subtitle {
    padding-left: 0;
    padding-right: 0;

}
.timeline-header__subtitle {
    margin-right: 50px;
    width: calc((100% - 450px) / 2 + 200px);
}
.timeline-header__subtitle {
    font-size: 14px;
    line-height: 24px;
}
.timeline-header__subtitle {
    font-size: 16px;
    line-height: 26px;
}
.timeline-header__subtitle {
    margin-top: 20px;
}
