/* LEGACY CODE, PLEASE DONT USE */



.RetroApple-border {
    /* position: absolute; */
    background: #7f7f7f;
    border: 2px solid #ffffff;
}


.RetroApple-text {
    font-family: "ChicagoFLF", serif;
    color: #131313;
    font-size: 1rem;
}
#RetroApple-vaporwaveBar {
    color: #131313;
    background: #ffffff;

}