/* LEGACY CODE, PLEASE DONT USE */



.oldComputer-border {
    /* position: absolute; */
    background: #000055;
    border: 2px solid #292929;
}


.oldComputer-text {
    font-family: "Px437_IBM_BIOS", serif;
    color: #00aaaa;
    font-size: 1rem;
}
#OldComputer-vaporwaveBar {
    color: #00aaaa;
    background: #292929;

}