/*Galaxy S9+ and Android */
@media screen and (max-width: 360px) and (max-width: 375px) {
    .showEventWrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 320px;
        margin: 35% 0;
    }
    .showEvent {
        width: 240px;
    }
}

/*iPhone 6,7,8, X */
@media screen and (min-width: 375px) and (max-width: 414px) {
    .showEventWrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 335px;
        margin: 35% 0;
    }

    .eventBody {
        flex-direction: column;
    }

    .eventBodyImage {
        /*max-width: 240px;*/
    }
    .showEvent {
        width: 250px;
    }
    /*.eventHeaderText {*/
    /*    font-size: 18px;*/
    /*}*/
}

/*iPhone Plus, XS, XS Max */
@media screen and (min-width: 414px) and (max-width: 768px) {
    .showEventWrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 375px;
        margin: 35% 0;
    }
    .eventBody {
        flex-direction: column;
    }

    .eventBodyImage {
        /*max-width: 366px;*/
    }
    .showEvent {
        width: 280px;
    }
    /*.eventHeaderText {*/
    /*    font-size: 22px;*/
    /*}*/
}
/* iPad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .showEventWrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 500px;
        margin: 0 auto;
        box-shadow: 16px 16px 0 -2px rgba(0,0,0,.6);
    }
    .eventBody {
        flex-direction: column;
    }

    .eventBodyImage {
        /*max-height: 233px;*/
        float: left;
        padding: 3%;
    }
    .showEvent {
        width: 480px;
    }
    /*.eventHeaderText {*/
    /*    font-size: 22px;*/
    /*}*/
}

/* Smaller Desktop */
@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .showEventWrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 650px;
        margin: 0 auto;
        box-shadow: 16px 16px 0 -2px rgba(0,0,0,.6);
    }
    .eventBodyImage {
        padding: 3%;
        float: left;
    }
    .showEvent {
        width: 630px;
    }
    /*.eventHeaderText {*/
    /*    font-size: 22px;*/
    /*}*/
}
/* Larger Desktop */
@media screen and (min-width: 1400px) {
    .showEventWrapper {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 650px;
        margin: 0 auto;
        box-shadow: 16px 16px 0 -2px rgba(0,0,0,.6);
    }
    .eventBodyImage {
        /*max-height: 200px;*/
        /*max-width: 200px;*/
        flex: 1;
    }
    .showEvent {
        width: 800px;
    }
}
.showEventWrapper {
    position: static; /* fixed position so that it will be put there irregarldess of where in the timeline user is at*/
    margin-bottom: 10%;
    border-left: 2px solid rgb(78, 76, 76);
    background: #ffffff;
    border-radius: 1.3em 1.5em 1.5em 1.5em;
}

.eventCitation {
    float: right;
    line-height: 18px;
    font-size: 1rem;
}

.eventEras {
    font-size: 1rem;
    align-self: end;
    margin-right: 10px;
}

.eventBody {
    display: block;
    padding: 3% 5%;
    background: #ffffff;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
}
.eventHeader {
    display: flex;
    border-top: 2px solid rgb(78, 76, 76);
    border-radius: 1.2em 1.2em 0 0;
    flex-direction: row;
    justify-content: center;
}
.eventBodyText {
    font-size: 1rem;
}

.eventHeaderText {
    margin: 0 auto;
    font-size: 1.35em;
    text-align: center;
}
.vaporwaveBar {
    display: block;
    width: 200px;
    height: 30px;
}

.vaporwaveBarContents {
    background-color: transparent;
    border: transparent;
    margin-left: 2px;
}
.vaporwaveBarContents img {
    width: fit-content;
    height: fit-content;
}
.vbarButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 10vh;
    align-items: center;
}


.eventBodyImage {
    justify-content: left;
    flex-grow: 1;
}
.eventBodyImage1 {
    float: right;
}

.eventBodyImage2 {
    float: left;
}

.xButton {
    width: 30px;
    height: 30px;
}

.eventEraContainer {
    border-top: 4px ridge rgb(78, 76, 76);
    border-left: 4px ridge rgb(78, 76, 76);
    border-radius: 2em 0 .2em 0;
    width: 15%;
    margin-left: 60%;
    padding: 2%;
    display: flex;
    position: relative;
    justify-content: center;
}
.eventCategoriesContainer {
    border-top: 4px ridge rgb(78, 76, 76);
    border-left: 4px ridge rgb(78, 76, 76);
    border-right: 4px ridge rgb(78, 76, 76);
    border-radius: 1em 1em 0 1.3em;
    width: 25%;
    padding: 2%;
    justify-content: center;
    display: flex;
}
