/*Galaxy S9+ and Android */
@media screen and (max-width: 360px) and (max-width: 375px) {
  .wLayoutGrid {
    display: flex;
    flex-direction: column;
  }
  .footerTitle {
    text-decoration: underline;
  }
}

/*iPhone 6,7,8, X */
@media screen and (min-width: 375px) and (max-width: 414px) {
  .wLayoutGrid {
    display: flex;
    flex-direction: column;
  }
  .footerTitle {
    text-decoration: underline;
  }
}

/* iPhone sizes */

/*iPhone Plus, XS, XS Max */
@media screen and (min-width: 414px) and (max-width: 768px) {
  .wLayoutGrid {
    display: flex;
    flex-direction: column;
  }
  .footerTitle {
    text-decoration: underline;
  }
}
/* iPad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

/* Smaller Desktop */
@media screen and (min-width: 1024px) and (max-width: 1400px) {
}
/* Larger Desktop */
@media screen and (min-width: 1400px) {
}

.footer04 {
  padding: 20px 3%;
  /*background-color: #fff;*/
  display: flex;
  border-top: 4px solid black;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  /* color: white; */
}
.footerFlexWrap {
  display: flex;
  height: 100%;
  align-items: center;
}
.footerBlockLeft {
  width: 50%;
  padding-right: 45px;
  display: flex;
  align-items: center;
  height: 100%;
}
.logoFlat {
  max-width: 100%;
  border: 0;
}
.lineBreak {
  width: 1px;
  height: 100%;
  min-height: 250px;
}

.footerBlockRight {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.wLayoutGrid {
  display: flex;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
.footerColumn {
  display: flex;
  padding-right: 40px;
  flex-direction: column;
  align-items: center;
}

.footerTitle {
  margin-bottom: 22px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.231818px;

  /* Vapor */

  /*background: linear-gradient(180deg, #4BA4D2 0%, #5776E0 46.35%, #9044F5 100%);*/
  /*-webkit-text-fill-color: transparent;*/
  -webkit-background-clip: text;
}

.footerLinkDark {
  display: block;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.footerBottomFull {
  display: flex;
  padding-top: 60px;
  justify-content: space-between;
  border-style: solid none none;
  border-width: 1px;
  border-color: rgba(21, 28, 52, 0.09) #000 #000;
}
.footerWrapper {
  display: flex;
  align-items: center;
}
.secondaryLinkDark {
  display: block;
  margin-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}
.slogan {
  font-family: Domine, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: -0.204545px;
  /* Vapor */

  /*background: linear-gradient(180deg, #4BA4D2 0%, #5776E0 46.35%, #9044F5 100%);*/
  /*-webkit-text-fill-color: transparent;*/
  -webkit-background-clip: text;
}

.logoFlat {
  height: 64px;
}

.footerMenuButtonIcon {
  height: 29px;
  width: 36px;
}
