/*Todo: Mobile */
/*Galaxy S9+ and Android */
@media screen and (max-width: 360px) and (max-width: 375px) {
  .showEventWrapper {
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 35% auto 5%;
  }
  .showEvent {
    width: 240px;
  }
  #eventHeader-text {
    font-size: 16px;
  }
  .eventBody-image {
    display: none;
  }
}

/*iPhone 6,7,8, X */
@media screen and (min-width: 375px) and (max-width: 411px) {
  .showEventWrapper {
    width: 260px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 35% auto 5%;
  }
  .showEvent {
    width: 250px;
  }
  #eventHeader-text {
    font-size: 18px;
  }
  .eventBody-image {
    display: none;
  }
}

/* iPhone sizes */

/*iPhone Plus, XS, XS Max */
@media screen and (min-width: 411px) and (max-width: 768px) {
  .showEventWrapper {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 35% auto 5%;
  }
  .showEvent {
    width: 280px;
  }
  #eventHeader-text {
    font-size: 22px;
  }
  .eventBody-image {
    display: none;
  }
}
/* iPad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .showEventWrapper {
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15% auto 5%;
  }
  .showEvent {
    width: 480px;
  }
  #eventHeader-text {
    font-size: 22px;
  }
  .eventBody-image {
    display: inherit;
  }
}

/* Smaller Desktop */
@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .showEventWrapper {
    width: 650px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15% auto 5%;
  }
  .showEvent {
    width: 630px;
  }
  #eventHeader-text {
    font-size: 22px;
  }
  .eventBody-image {
    display: inherit;
  }
}
/* Larger Desktop */
@media screen and (min-width: 1400px) {
  .showEventWrapper {
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15% auto 5%;
  }
  .showEvent {
    width: 800px;
  }
  #eventHeader-text {
    font-size: 24px;
  }
  .eventBody-image {
    display: inherit;
  }
}
.showEventWrapper {
  position: static; /* fixed position so that it will be put there irregarldess of where in the timeline user is at*/

  /*width: 90%;*/
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
  /* min-height: 100%;  */
  /* might put min height back. depends on how it looks when I add stuff to page */
  /*height: 30%;*/
  /*margin: 5% auto 5%;*/
  left: 0;
  right: 0;
  /* display: block; */
  /* margin: 33%; */
  background: linear-gradient(
          180deg,
          rgba(0, 147, 255, 0.4) 0%,
          rgba(173, 95, 249, 0.4) 100%
  );
  /*transform: translateY(100%);*/
}

.showEventWrapper--open {
  transform: translateY(0%);
}

.event-citation {
  /* position: absolute; */
  display: flex;
  bottom: 0;
  top: 1000px;
  background: #ffffff;
  border: 2px solid #442199;
  box-sizing: border-box;
  /*width: 800px;*/
  height: auto;
  padding: 0.5% 1%;
}

.eventBody {
  /* position: absolute; */
  display: block;
  /*width: 800px;*/
  /* min-height: 599px; */
  /* max-height: max-content; */
  /* left: 342px; */
  /*top: 400px;*/
  padding: 3% 3% 5%;
  margin: 20px 0px;
  background: #ffffff;
  border: 4px solid #442199;
  box-sizing: border-box;
  /* font stuff */
  /* font-family: Merriweather, serif; */
  /* font-style: italic; */
  /* font-weight: 900; */
  /* font-size: 18px;
  line-height: 18px; */
}

.showEvent {
  /* position: absolute; */
  display: block;
  /*width: 800px;*/
  margin: 15px auto;
  border: 2px rgb(104, 16, 16);
  /* background-color: bisque; */
}
.eventHeader {
  /* position: absolute; */
  display: block;
  /*width: 800px;*/
  /*height: 100px;*/

  background: #ffffff;
  border: 4px solid #442199;
  box-sizing: border-box;
}

#event-citation-text {
  /*font-family: "SF Pro", serif;*/
  font-size: 18px;
  line-height: 18px;
}
#event-citation-text-right {
  /*font-family: "SF Pro", serif;*/
  font-size: 18px;
  line-height: 18px;
  margin-left: 5px;
}
.eventBody-text {
  font-family: "SF Pro", serif;
  font-size: 18px;
  line-height: 30px;
}

#eventHeader-text {
  font-family: "Futura", sans-serif;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}
/* .leftRight{
  margin-top: 3px;
} */
.vaporwaveBar {
  display: block;
  /* padding-left: 5px; */
  width: 200px;
  height: 30px;
  /* padding: 0.5%; */
}

.vaporwaveBarContents {
  display: inline-block;
  /* margin-right: 10px; */
  font-size: 20px;

  background-color: transparent;
  border: transparent;
  width: 30px;
  height: 30px;

  /* width: 50px; */
}
.vaporwaveBarContents img {
  /* margin: auto; */
  width: fit-content;
  height: fit-content;
}
.vbar-buttons {
  display: inline-flex;
  /* margin-left: 15px; */
  margin: auto 5px auto 0;
  height: 30px;
  /*background-color: #9d41ff;*/
  width: 55%;
}
.eventBody-image {
  height: 200px;
  width: 200px;
  flex-wrap: wrap;
  margin: 10px;
  float: right;
}
#eventBody-image1 {
  float: right;
}

#eventBody-image2 {
  float: left;
}

#x-button {
  width: 30px;
  height: 30px;
}
