/*Galaxy S9+ and Android */
@media screen and (max-width: 360px) and (max-width: 375px) {
    .Event-Container {
        justify-content: center;
    }
    .Event-image {
        height: 150px;
        width: 150px;
    }
}

/*iPhone 6,7,8, X */
@media screen and (min-width: 375px) and (max-width: 414px) {
    .Event-Container {
        justify-content: center;
    }
    .Event-image {
        height: 150px;
        width: 150px;
    }
}

/* iPhone sizes */

/*iPhone Plus, XS, XS Max */
@media screen and (min-width: 414px) and (max-width: 768px) {
    .Event-Container {
        justify-content: center;
    }
    .Event-image {
        height: 150px;
        width: 150px;
    }
}
/* iPad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .Event-Container {
        justify-content: center;
    }
    .Event-image {
        margin-right: 100px;
        height: 200px;
        width: 200px;
    }
}

/* Smaller Desktop */
@media screen and (min-width: 1024px) and (max-width: 1400px) {
    .Event-Container {
        justify-content: center;
    }
    .Event-image {
        margin-right: 100px;
        height: 200px;
        width: 200px;
    }
}
/* Larger Desktop */
@media screen and (min-width: 1400px) {
    .Event-Container {
        justify-content: center;
    }
    .Event-image {
        margin-right: 100px;
        height: 200px;
        width: 200px;
    }
}

.Event-Container {
    position: relative;
    display: flex;
    text-align: center;
    margin-top: 100px;
    max-height: 170px;
    border: none;
    outline: none;
}
.Event-container-link {
    height: 100%;
    color: inherit;
    display: flex;
    margin-left: auto;
    margin-right: auto !important;
    max-width: 830px;
    position: relative;
    text-decoration: inherit;
}
.Event-container-link:hover {
    transition: all 1.3s;
    /*background: url("../images/Backdrop.svg");*/
    height: 100%;
    background-position-x: center;
    background-size: cover;
    padding-top: 25px;
}
.Event-container-link:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 0;
    bottom: 0;
    border: 8px solid transparent;
    left: 0;
    box-sizing: border-box;
}

.Event-container-link:hover:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 55%;
    /*left: 18%;*/
    /*border-left: 4mm ridge #9E73D3;*/
    /*border-bottom: 4mm ridge #5C8BAD;*/
    /*border-top: 4mm ridge #9E73D3;*/
    /*transition: height 0.5s linear, width 0.5s linear 0.5s;*/
    top: 0;
}
.Event-container-link:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 0;
    border: 8px solid transparent;
    top: 0;
    right: 0;
    /*left: 18%;*/
    box-sizing: border-box;
}
.Event-container-link:hover:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 50% ;
    /*border-right: 4mm ridge #5C8BAD;*/
    /*border-bottom: 4mm ridge #9E73D3;*/
    /*border-left: none;*/
    /*border-top: 4mm ridge #5C8BAD;*/
    /*transition: height 0.5s linear, width 0.5s linear 0.5s;*/
}

.Event-figure {
    box-sizing: border-box;
    margin: 0;
    padding: 0 20px;
    position: relative;
    z-index: 10;
    width: 50%;
}
.Event-image {
    box-shadow: none !important;
    max-width: 250px;
    max-height: 250px;
}

.Event-body {
    box-sizing: border-box;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 10;
    width: 50%;
}
.Event-date {
    /*color: black;*/
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    margin: 0 10px 0 0;
}
.Event-location {
    /*color: black;*/
    display: inline-block;
    font-family: sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 10px 3px 0;
}
.Event-title {
    /*color: rgb(34, 34, 34);*/
    font-family: serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 25px;
    /*margin-left: 15px ;*/
    /*width: 100%;*/
}
.Event-body::before {
    content: "";
    position: absolute;
    left: 0;
    top: -100px;
    display: flex;
    background-color: #d9cfbe;
    width: 5px;
    height: 200%;
    border-radius: 100%;
    transform: translateY(0);
    will-change: transform;
}
.Event-body::after {
    content: "";
    position: absolute;
    display: flex;
    background-color: #2d667b;
    top: 40%;
    width: 20px;
    height: 20px;
    left: -3%;
    border-radius: 100%;
    transform: translateY(0);
    will-change: transform;
}
