/*Todo */

.showEventWrapper {
  position: absolute; /* fixed position so that it will be put there irregarldess of where in the timeline user is at*/
  /* border: 5px black; */
  background-color: green;
  width: 830px;
  padding: 20px;
  /* min-height: 100%;  */
  /* might put min height back. depends on how it looks when I add stuff to page */
  height: auto;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;

  /* margin: 33%; */
  background: linear-gradient(
    180deg,
    rgba(184, 225, 255, 0) 0%,
    rgba(197, 191, 255, 0.075) 25%,
    rgba(184, 225, 255, 0.375) 50.52%,
    rgba(197, 191, 255, 0.45) 73.96%,
    rgba(184, 225, 255, 0.5625) 100%
  );
}

.citation {
  /* position: absolute; */
  display: block;
  bottom: 0;
  top: 1000px;
  background: #ffffff;
  border: 2px solid #c54290;
  box-sizing: border-box;
  width: 800px;
  height: auto;
  padding: 0.5% 1%;
}
.eventBody {
  /* position: absolute; */
  display: block;
  width: 800px;
  /* min-height: 599px; */
  /* max-height: max-content; */
  /* left: 342px; */
  top: 400px;
  padding: 3%;

  background: #ffffff;
  border: 4px solid #c54290;
  box-sizing: border-box;
  /* font stuff */
  /* font-family: Merriweather, serif; */
  /* font-style: italic; */
  /* font-weight: 900; */
  /* font-size: 18px;
  line-height: 18px; */
}

.showEvent {
  /* position: absolute; */
  display: block;
  width: 800px;
  margin: 15px auto;
  border: 2px rgb(104, 16, 16);
  /* background-color: bisque; */
}
.eventHeader {
  /* position: absolute; */
  display: block;
  width: 800px;
  height: 100px;

  background: #ffffff;
  border: 4px solid #c54290;
  box-sizing: border-box;
}

p {
  font-family: Merriweather, serif;
  font-size: 18px;
  line-height: 18px;
}

.vaporwaveBar {
  display: block;
  background-color: #c54290;
  width: 200px;
  height: 30px;
  /* padding: 0.5%; */
}

.vaporwaveBarContents {
  display: inline;
  /* width: 50px; */
}
