.Event-Container {
    position: relative;
    display: flex;
    text-align: center;
    margin-top: 50px;
}
.Event-figure {
    box-sizing: border-box;
    margin: 0;
    padding: 0 20px;
    position: relative;
    z-index: 10;
    width: 50%;
}
.Event-image {
    box-shadow: none !important;
    max-width: 165px;
    width: 100%;
    max-height: 165px;
    height: 100%;
}
.Event-container-link {
    box-sizing: border-box;
    color: inherit;
    display: flex;
    float: none;
    margin-left: auto;
    margin-right: auto !important;
    max-width: 830px;
    overflow: visible;
    position: relative;
    text-decoration: inherit;

}
.Event-body {
    box-sizing: border-box;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 10;
    width: 50%;
}
.Event-date {
    color: black;
    display: inline-block;
    font-family: Merriweather-Regular, serif;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    margin: 0 10px 0 0;
}
.Event-location {
    color: black;
    display: inline-block;
    font-family: Merriweather-Regular, serif;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 10px 3px 0;
}
.Event-title {
    color: rgb(34, 34, 34);
    font-family: Hack, serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 25px;
    /*margin-left: 15px ;*/
    /*width: 100%;*/

}
.Event-body::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    background-color: #D9CFBE;
    width: 5px;
    height: 175%;
    border-radius: 100%;
    transform: translateY(0);
    will-change: transform;
}
.Event-body::after {
    content: '';
    position: absolute;
    display: flex;
    background-color: #2D667B;
    top: 40%;
    width: 20px;
    height: 20px;
    left: -2.5%;
    border-radius: 100%;
    transform: translateY(0);
    will-change: transform;
}
.Event-container-link:hover {
    transition: all 1.3s cubic-bezier(0, 1, .5, 1);
    background: url("../images/Backdrop.svg");
    height: 200px;
    background-position-x: center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}
