#Nav-container {
  width: 90%;
  /* background-color: #a158fd; */
  overflow-x: hidden;
  overscroll-behavior-x: contain;
  margin: 0 auto;
  /* border-radius: 25px; */
  display: flex;
  flex-direction: column;
}

#top-container {
  background-color: #8d8bff;
  display: flex;
  border: 1px solid black;
}
#bottom-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 2px;
  border: 1px solid black;

  /* justify-content: center; */
}

.menuItem {
  background-color: azure;
  border: none;
  background-color: transparent;
  display: flex;
  /* align-content: flex-end; */
  /* align-self: flex-end; */
  /* margin-bottom: 2px; */
}

.menuItem:last-child {
  margin-left: auto;
}
.menuImg {
  display: flex;
  align-self: flex-end;
  /* position: relative; */
  /* position:absolute; */
  height: 20px;
  /* height: 15px; */
  /* margin-bottom: 0px; */
  bottom: 0;
}
.Nav-icon {
  width: 30px;
  height: 30px;
}

.title {
  font-family: "Futura", sans-serif;
  /* font-style: italic; */
  font-weight: normal;
  font-size: 24px;
}
/* #Nav-container {
  width: 90%;
  background-color: #a158fd;
  overflow-x: hidden;
  overscroll-behavior-x: contain;
  margin: 0 auto;
  border-radius: 25px;
}
.Nav-linkButton {
  /*background-color: #57336a;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  /* border: 0; */
/* border-radius: 4px; */
/* box-sizing: border-box; */
/* box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); */
/*fontSize: 14;
  margin-right: 50px;
  margin-left: 50px;
  height: 60px;
  width: 25%;
  cursor: pointer;
  transition: background-color 1s;
  padding: 0;
}
.Nav-anchor {
  color: white;
  font-size: 18px;
  font-family: "Helvetica Neue", serif;
  text-decoration: none;
  display: inline-flex;
  place-items: center;
  height: 100%;
  width: 100%;
}
.Nav-linkButton:hover {
  background-color: #f1e7ff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.iconButton {
  background: none;
  border: none;
}
#Nav-navbar {
  height: 150px;
  display: flex;
  flex-direction: row;
  place-items: center;
}
.Nav-icon {
  width: 50px;
  height: 50px;
}
.Nav-title {
  flex-grow: 1;
} */
