@media (max-width: 767px) {
    .min-max-container {
        display: flex;
    }
    .min-max-input {
        margin-right: 25px;
    }
}

.input-range {
    width: 110px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.input-range__label {
    color: white;
}
.input-range__label--min {
    display: none;
}
.input-range__label--max {
    display: none;
}
.yearLabel {
    color: black;
}
#yearSubmit {
    background: #3f51b5;
    color: black;
    width: 100%;
    justify-content: center;
    display: flex;
    height: 20px;
    /* margin-left: ; */
    /* margin-bottom: 10px; */
    border: 0;
    font-size: 1em;
}
