/*Galaxy S9+ and Android
@media screen and (max-width: 360px) {
  #Team-teammate {
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
  }
  #Team-media {
    max-height: 90px;
    max-width: 200px;
    position: relative;
  }
  

  #Team-fav {
    font-size: 1rem;
  }
  .Team-link {
    font-size: 0.9rem;
  }
}

/*iPhone 6,7,8, X
@media screen and (max-width: 375px) {
  #Team-teammate {
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
  }
  #Team-media {
    max-height: 100px;
    max-width: 200px;
    position: relative;
  }

  #Team-fav {
    font-size: 1rem;
  }
  .Team-link {
    font-size: 0.9rem;
  }
}

/*iPhone Plus, XS, XS Max 
@media screen and (min-width: 411px) {
  #Team-teammate {
    padding: 20px;
    margin: 30px 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
  }
  #Team-media {
    max-height: 110px;
    max-width: 200px;
    position: relative;
  }
 

  #Team-fav {
    font-size: 1rem;
  }
  .Team-link {
    font-size: 0.9rem;
  }
}

/* iPad*/
@media screen and (min-width: 768px) {
  #Team-teammate {
    padding: 20px;
    margin: 30px 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
  }
  .Team-Row {
    display: flex;
    flex-direction: row;
  }
  .teamImg {
    display: relative;
    max-width: 300px;
    height: 200px;
  }
  #Team-media {
    max-height: 110px;
    max-width: 200px;
    position: relative;
  }

  #Team-fav {
    font-size: 1rem;
  }
  .Team-link {
    font-size: 0.9rem;
  }
}
/* Desktop */
@media screen and (min-width: 1000px) {
  #Team-teammate {
    padding: 20px;
    margin: 30px 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
  }
  .Team-Row {
    display: flex;
    flex-direction: row;
  }

  .teamImg {
    /* display: inline-block; */
    /* max-width: 300px; */
    /* height: 200px; */
  }

  .teamImg img {
    width: fit-content;
    height: 200px;
  }

  #Team-media {
    max-height: 200px;
    max-width: 300px;
    position: relative;
  }

  #Team-fav {
    font-size: 1.1rem;
  }
  .Team-link {
    font-size: 0.9rem;
  }
}

#Team-Container {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* margin: 0 auto; */
  width: 100%;
  align-items: center;
  background-color: #e0f1ff;
}
#Team-teammate {
  flex: 1;
  box-shadow: 0px 2px 3px 6px #3b4bb3, 0px 1px 3px 3px #3b4bb3,
    0px 1px 3px 0px #3b4bb3;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #f1f6f6;
  border-radius: 4px;
}

#Team-media {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  position: relative;
}

#Team-body {
  text-align: center;
}

#Team-fav {
  color: #8600ff;
  font-family: Courier New, serif;
  font-style: normal;
  font-weight: normal;
}
#Team-fav-prop {
  color: #8600ff;
  font-weight: bolder;
}
#Team-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Team-linkContainer {
  box-sizing: border-box;
  background-color: #8eadae;
  margin: 20px;
  height: 40px;
  padding-right: 10px;
}
.Team-link {
  padding-left: 10px;
  text-decoration: none;
  font-family: Courier New, serif;
  font-style: normal;
  font-weight: bold;
  color: #6031ac;
  display: inline-flex;
  place-items: center;
  width: 100%;
  height: 100%;
}
*/

/* we stylin here */

.bioList {
  display: flex;
  align-items: center;
}
.bioList li {
  list-style-type: none;
  /* list-style-image: url("../images/world-1.png"); */
}
.bioList p {
  font-family: Courier New, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #6031ac;
}
.bioList img {
  width: 12px;
  height: 12px;
  padding-left: 12px;
}

.bioList a {
  padding-left: 12px;
  text-decoration: none;
  font-family: Courier New, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #6031ac;
}

.team-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.team-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.eventBody-text {
  font-family: "SF Pro", serif;
  font-size: 18px;
  line-height: 30px;
}
.info {
  padding: 3% 3% 5%;
  margin: 2px 0px;
  background: #ffffff;
  border: 4px solid #442199;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoBio {
  margin: 0px 10px;
  /* background-color: #6031ac; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerBio {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.headerBio h2 {
  font-family: Courier New, serif;
  font-size: 42px;
  text-shadow: 5px 5px 2px #b8c5fa;
  /* rgba(0, 255, 194, 0.51); */
}
.headerBio h3 {
  margin: 0px;
  font-size: 24px;
  font-family: Courier New, serif;
}
#teamDiv {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.vaporwaveBar {
  /* display: block; */
  background-color: #9d41ff;
  /* padding-left: 5px; */
  width: 200px;
  height: 30px;
}

.vaporwaveBarContents {
  display: inline-block;
  /* margin-right: 10px; */
  font-size: 20px;

  background-color: transparent;
  border: transparent;
  width: 30px;
  height: 30px;

  /* width: 50px; */
}
.vaporwaveBarContents img {
  /* margin: auto; */
  width: fit-content;
  height: fit-content;
}

/*  
.teamBody {
  /* display: flex; 
  flex-direction: column;
  /* justify-content: baseline; 
  width: 90%;
  padding: 20px;
}
.eventBody {
  width: 800px;
}
.vaporwaveBar {
  /* display: block; 
  background-color: #9d41ff;
  /* padding-left: 5px; 
  width: 200px;
  height: 30px;
  /* padding: 0.5%; 
}*/
