a {
  text-decoration: none;
}
a:hover {
}

.teamImg {
  width: 100%;
  height: 19.25em;
  object-fit: contain;
}

.teammate {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}

.teammate-content {
  width: 100%;
  padding: 1.25em 1.5em;
}

.bioList {
  margin-left: 5px;
}
.teammate-name {
  font-family: "Futura", sans-serif;
}
