/*Galaxy S9+ and Android */
@media screen and (max-width: 360px) and (max-width: 375px) {
  .bioList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bioList a {
    text-decoration: none;
    font-family: Courier New, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #6031ac;
  }
  .bioList img {
    display: none;
  }
  .eventBody-text {
    font-size: 12px;
  }
  .headerBio h2 {
    font-size: 24px;
  }
  .headerBio h3 {
    margin: 0px;
    font-size: 18px;
  }
  .info {
    padding: 10% 0% 5% 5%;
    margin: 2px 0px;
    width: 300px;
    /* height: 500px; */
  }
  #teamDiv {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    align-items: center;
  }
  .teamImg {
    /*display: relative;*/
    max-width: 200px;
    height: 100px;
  }

  .team-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .team-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/*iPhone 6,7,8, X */
@media screen and (min-width: 375px) and (max-width: 411px) {
  .bioList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bioList a {
    text-decoration: none;
    font-family: Courier New, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #6031ac;
  }
  .bioList img {
    display: none;
  }
  .eventBody-text {
    font-size: 12px;
  }
  .headerBio h2 {
    font-size: 24px;
  }
  .headerBio h3 {
    margin: 0px;
    font-size: 18px;
  }
  .info {
    padding: 10% 0% 5% 5%;
    margin: 2px 0px;
    width: 300px;
    height: 600px;
  }
  #teamDiv {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }
  .teamImg {
    /*display: relative;*/
    max-width: 200px;
    height: 100px;
  }

  .team-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .team-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* iPhone sizes */

/*iPhone Plus, XS, XS Max */
@media screen and (min-width: 411px) and (max-width: 768px) {
  .bioList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bioList a {
    text-decoration: none;
    font-family: Courier New, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #6031ac;
  }
  .bioList img {
    display: none;
  }
  .eventBody-text {
    font-size: 12px;
  }
  .headerBio h2 {
    font-size: 24px;
  }
  .headerBio h3 {
    margin: 0px;
    font-size: 18px;
  }
  .info {
    padding: 10% 3% 5%;
    margin: 2px 0px;
    width: 350px;
    /* height: 500px; */
  }
  #teamDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
  }
  .teamImg {
    /*display: relative;*/
    max-width: 200px;
    height: 100px;
  }

  .team-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .team-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* iPad */
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .bioList {
    display: flex;
    align-items: center;
  }
  /* .bioList a {
    padding-left: 12px;
    text-decoration: none;
    font-family: Courier New, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #6031ac;
  } */
  .bioList a:hover {
    color: #7d47d4;
  }
  .bioList a:visited {
    color: #6031ac;
  }
  .bioList img {
    width: 12px;
    height: 12px;
    padding-left: 12px;
  }
  .eventBody-text {
    font-size: 30px;
  }
  .headerBio h2 {
    font-size: 42px;
  }
  .info {
    padding: 3% 3% 5%;
    margin: 2px 0px;
    width: 600px;
    height: 600px;
  }
  #teamDiv {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }
  .teamImg {
    /*display: relative;*/
    max-width: 300px;
    height: 200px;
  }

  .team-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .team-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
/* Desktop */
@media screen and (min-width: 1400px) {
  .bioList {
    display: flex;
    align-items: center;
  }
  .bioList a {
    padding-left: 12px;

    font-size: 18px;
  }

  .bioList img {
    width: 12px;
    height: 12px;
    padding-left: 12px;
  }

  .headerBio {
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4px;
  }

  .info {
    padding: 3% 3% 5%;
    margin: 2px 0px;
    width: 600px;
    height: 600px;
  }
  .teamImg {
    display: inline-block;
    max-width: 300px;
    height: 200px;
  }
  #teamDiv {
    /* margin: 0px auto; */
  }

  .teamImg img {
    width: fit-content;
    height: 200px;
  }

  .team-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    width: 600px;
    padding: 20px 60px 20px 0px;
    /* left is 0px right is 40px rest is 20px */
  }
  .team-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-content: center; */

    min-width: 1200px;
    max-width: 1500px;
    /* flex-wrap: wrap; */
  }
}

/* Styles independent of size */

#Team-Container {
  display: flex;
  /* flex-direction: column; */
  /*position: absolute;*/
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  /* align-content: center; */
  /*background-color: #e0f1ff;*/
}

.bioList {
  display: flex;
  align-items: center;
}
.bioList a {
  padding-left: 12px;
  text-decoration: none;
  font-family: Courier New, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #6031ac;
}
.bioList a:hover {
  color: rgb(83, 36, 85);
}
.bioList li {
  list-style-type: none;
  /* list-style-image: url("../images/world-1.png"); */
}
.bioList p {
  font-family: Courier New, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #6031ac;
}

.eventBody-text {
  font-family: "SF Pro", serif;
  /*font-size: 18px;*/
  line-height: 30px;
}
.info {
  /* padding: 3% 3% 5%;
  margin: 2px 0px;*/
  background: #ffffff;
  border: 4px solid #442199;
  /* width: 600px;
  height: 600px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoBio {
  margin: 0px 10px;
  /* background-color: #6031ac; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerBio {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px;
}

.headerBio h2 {
  font-family: Courier New, serif;
  font-size: 42px;
  text-shadow: 5px 5px 2px #b8c5fa;
  /* rgba(0, 255, 194, 0.51); */
}
.headerBio h3 {
  margin: 0px;
  font-size: 24px;
  font-family: Courier New, serif;
}

#teamDiv {
  display: flex;
  flex-direction: column;
}
