/* Fonts */


/* For Apple inspired typography */
@font-face {
    font-family: "SF Pro";
    src:
            local("SF-Pro"),
            local("SF Pro"),
            url("/src/fonts/SF-Pro.ttf")  format('truetype');
    font-weight: normal;
}





/* For IBM inspired typography */
@font-face {
    font-family: "IBM Plex Sans";
    src:
            local("IBM-Plex-Sans"),
            local("IBM Plex Sans"),
            url("../src/fonts/IBM-Plex-Sans.otf")  format('opentype');
    font-weight: normal;
}

/* For Microsoft inspired typography */
@font-face {
    font-family: "Microsoft Sans Serif";
    src:
            local("Microsoft Sans Serif"),
            local("Microsoft-Sans-Serif"),
            url("/src/fonts/Microsoft-Sans-Serif.ttf")  format('truetype');
    font-weight: normal;
}

/* For Google inspired typography */
@font-face {
    font-family: "Futura";
    src:
            local("Futura"),
            local("Futura"),
            url("/src/fonts/Futura.ttc")  format('truetype');
    font-weight: normal;
}