@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
  transition: all 0.65s ease-in-out;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

h1, h2, h3, h4, h5, h6 {
    color: text-gray-900;
}
[data-theme='dark'] h1, h2, h3, h4, h5, h6 {
    color: text-gray-100;
}